<<<<<<< Updated upstream
.search-bar {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
=======
#errorMessage {
    color: red;
    font-weight: bold;
>>>>>>> Stashed changes
}

.search-bar input[type="text"] {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.search-bar button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}

.article-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.article-card {
    width: calc(25% - 20px); /* 33% de la largeur du conteneur - marge */
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; /* Inclure la bordure et le remplissage dans la largeur */
}

.article-card h2 {
    margin-bottom: 10px;
}

.article-card p {
    margin-bottom: 20px;
<<<<<<< Updated upstream
}
=======
}

.image {
	width: 12.5rem;
	height: 12.5rem;
}

>>>>>>> Stashed changes
