/*Style global de la page */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Style des cartes*/
.card {
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-details {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-image {
    margin-right: 20px;
}

.product-image img {
    max-width: 250px;
    height: auto;
    border-radius: 10px;
}

.card-body {
    flex: 1;
    padding: 20px;
}

.card-body h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.brand, .price, .nutriscore {
    font-size: 18px;
    margin-bottom: 10px;
}

.description {
    margin-top: 20px;
}

.description h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.description p {
    font-size: 16px;
    line-height: 1.6;
}

.additional-info p {
    font-size: 16px;
    margin-top: 10px;
}

/*Style de la modal d'ajout à une liste de course */

.img-AddIntoList {
   max-width: 3em; 
    height: auto; 
    margin-left: 80px; 
}

/* Tableau des promotions */
.promotion-section {
	display: flex;
	justify-content: center;
    align-items: center;
    flex-direction: column;
}
