<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
    <display-name>SuperMarket Groupe3</display-name>

    <!-- JSP Servlets -->
    <servlet>
        <servlet-name>ImportProduitsJSP</servlet-name>
        <jsp-file>/jsp/gestionProduit.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>AfficherPanier</servlet-name>
        <jsp-file>/jsp/afficherPanier.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Accueil</servlet-name>
        <jsp-file>/jsp/index.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>gestionList</servlet-name>
        <jsp-file>/jsp/gestionList.jsp</jsp-file>
    </servlet>

    <!-- Java Servlets -->
    <servlet>
        <servlet-name>ServletDispatcher</servlet-name>
        <display-name>ServletDispatcher</display-name>
        <description>Contrôleur central de l'ensemble des servlets de l'application</description>
        <servlet-class>fr.miage.supermarket.controlers.ServletDispatcher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailProduit</servlet-name>
        <display-name>DetailProduit</display-name>
        <description>Servlet de gestion de la récupération du détail d'un produit</description>
        <servlet-class>fr.miage.supermarket.controlers.RecupererProduits</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecupererImage</servlet-name>
        <display-name>RecupererImage</display-name>
        <description>Servlet servant à la récupération des images</description>
        <servlet-class>fr.miage.supermarket.controlers.RecupererImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductServlet</servlet-name>
        <servlet-class>servlet.ProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListeCourse</servlet-name>
        <display-name>ServletListeCourse</display-name>
        <servlet-class>fr.miage.supermarket.controlers.ServletListeCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAuthentification</servlet-name>
        <display-name>ServletAuthentification</display-name>
        <description>Servlet gérant l'authentification</description>
        <servlet-class>fr.miage.supermarket.controlers.ServletAuthentification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletInscription</servlet-name>
        <display-name>ServletInscription</display-name>
        <servlet-class>fr.miage.supermarket.controlers.ServletInscription</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestionProduitsService</servlet-name>
        <display-name>GestionProduitsService</display-name>
        <description>Service de gestion de recherche et d'insertion des produits</description>
        <servlet-class>fr.miage.supermarket.controlers.GestionProduitsService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestionArticleListe</servlet-name>
        <display-name>GestionArticleListe</display-name>
        <servlet-class>fr.miage.supermarket.controlers.GestionArticleListe</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestionProduitListe</servlet-name>
        <servlet-class>fr.miage.supermarket.controlers.GestionProduitListe</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerationListeProduitXml</servlet-name>
        <servlet-class>fr.miage.supermarket.controlers.GenerationListeProduitXml</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerationListeXml</servlet-name>
        <servlet-class>fr.miage.supermarket.controlers.GenerationListeXml</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAjoutProduitListe</servlet-name>
        <servlet-class>fr.miage.supermarket.controlers.ServletAjoutProduitListe</servlet-class>
    </servlet>
	</servlet>
		<servlet-class>fr.miage.supermarket.controlers.HabitudesConsommationUtilisateurServlet</servlet-class>
		<description></description>
		<display-name>HabitudesConsommationUtilisateurServlet</display-name>
		<servlet-name>HabitudesConsommationUtilisateurServlet</servlet-name>
	<servlet>
    <servlet>
        <servlet-name>GestionCategoriesService</servlet-name>
        <display-name>GestionCategoriesService</display-name>
        <servlet-class>fr.miage.supermarket.controlers.GestionCategoriesService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestionRayonsService</servlet-name>
        <display-name>GestionRayonsService</display-name>
        <servlet-class>fr.miage.supermarket.controlers.GestionRayonsService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestionStockService</servlet-name>
        <display-name>GestionStocksService</display-name>
        <servlet-class>fr.miage.supermarket.controlers.GestionStockService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProduitPanierService</servlet-name>
        <display-name>ProduitPanierService</display-name>
        <description>Servlet de gestion des produits au sein d'un panier</description>
        <servlet-class>fr.miage.supermarket.controlers.ProduitPanierService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MagasinService</servlet-name>
        <display-name>MagasinService</display-name>
        <servlet-class>fr.miage.supermarket.controlers.MagasinService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPanier</servlet-name>
        <display-name>ServletPanier</display-name>
        <servlet-class>fr.miage.supermarket.controlers.ServletPanier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecupererStatistiques</servlet-name>
        <display-name>RecupererStatistiques</display-name>
        <servlet-class>fr.miage.supermarket.controlers.RecupererStatistiques</servlet-class>
    </servlet>

    <!-- Servlet Mappings -->
    <servlet-mapping>
        <servlet-name>ServletDispatcher</servlet-name>
        <url-pattern>/central</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImportProduitsJSP</servlet-name>
        <url-pattern>/gestionProduit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AfficherPanier</servlet-name>
        <url-pattern>/afficherPanier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Accueil</servlet-name>
        <url-pattern>/accueil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>gestionList</servlet-name>
        <url-pattern>/gestionList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecupererImage</servlet-name>
        <url-pattern>/recupererImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionProduitsService</servlet-name>
        <url-pattern>/produits</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListeCourse</servlet-name>
        <url-pattern>/servletListeCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAuthentification</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletInscription</servlet-name>
        <url-pattern>/inscription</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionArticleListe</servlet-name>
        <url-pattern>/GestionArticleListe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailProduit</servlet-name>
        <url-pattern>/detailProduit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionProduitListe</servlet-name>
        <url-pattern>/gestionProduitListe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerationListeProduitXml</servlet-name>
        <url-pattern>/generationListeProduitXml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerationListeXml</servlet-name>
        <url-pattern>/generationListeXml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAjoutProduitListe</servlet-name>
        <url-pattern>/ServletAjoutProduitListe</url-pattern>
    </servlet-mapping>
	</servlet-mapping>
		<url-pattern>/habitudesConsommation</url-pattern>
		<servlet-name>HabitudesConsommationUtilisateurServlet</servlet-name>
	<servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionCategoriesService</servlet-name>
        <url-pattern>/categories</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionRayonsService</servlet-name>
        <url-pattern>/rayons</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionStockService</servlet-name>
        <url-pattern>/stocks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProduitPanierService</servlet-name>
        <url-pattern>/ajoutPanier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MagasinService</servlet-name>
        <url-pattern>/magasin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPanier</servlet-name>
        <url-pattern>/panier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecupererStatistiques</servlet-name>
        <url-pattern>/RecupererStatistiques</url-pattern>
    </servlet-mapping>
    <!-- Welcome File List -->
    <welcome-file-list>
        <welcome-file>supermarket</welcome-file>
    </welcome-file-list>
</web-app>